body{
    background-color: #181616;
}

.messages-list {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    background-color: rgb(64, 66, 66);
    color: white;
    padding-left: 20px;
    border-radius: 20px;
    margin: 10px;
}

.message-author {
    color: rgb(214, 7, 7);
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
}

.message-text{
    color: rgb(92, 92, 92);
    font-size: 18px;
    font-weight: bold;
}

.message-time{
    color: rgb(158, 165, 165);
}